body {
	background-color: $primaryAccent-color;
	color: $secondaryAccent-color;
	font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: $raleway-font;
	font-weight: 100;
}
h1 {
	font-size: 3em;
}
h2 {
	font-size: 2.6em;
}
h3 {
	font-size: 2.3em;
}
h4 {
	font-size: 1.9em;
}
h5 {
	font-size: 1.6em;
}
h6 {
	font-size: 1.2em;
}